{% extends "layout.html" %}

{% load static %}

{% block Title %}
Kurs listesi
{% endblock Title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css'%}">
{% endblock css_files %}


{% block content %}

<div class="container mt-3">
    <div class="row  justify-content-center">
        <div class="col-9">
            <h1>Register</h1>
            <hr>
            <form method="POST">
                {% csrf_token %}
                
                {% if error %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% else %}
                {% endif %}


                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>

                <div class="mb-3">
                    <label for="surname" class="form-label">Surname:</label>
                    <input type="text" class="form-control" name="last_name" id="surname">
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="text" class="form-control" name="password" id="password">
                </div>

                <div class="mb-3">
                    <label for="repassword" class="form-label">Re-Password:</label>
                    <input type="text" class="form-control" name="repassword" id="repassword">
                </div>

                <button type="submit" class= "btn submitButton">Register</button>

            </form>
            
        </div>
    </div>
</div>

{% endblock  %}

{% block js_files %}
<script src="{% static "courses/js/scripts.js" %}"></script>
{% endblock js_files %}

