<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0F5257;">
    <div class="container">
        <a href="/index" class="navbar-brand">Course App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbar">

        <ul class="navbar-nav me-auto">

            <li class="nav-item">
                <a href="/kurslar" class="nav-link navbar">
                    Courses
                </a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">    
                <a href="{% url "create_course" %}" class="nav-link navbar">
                    Admin-Kurs ekle
                </a>
            </li>
            {% endif %}
            {% if user.is_superuser %}
            <li class="nav-item">
                <a href="{% url "course_list" %}" class="nav-link navbar">
                    Admin-Kurslar
                </a>
            </li>
            {% else %}
            {% endif %}


            </li>
        </ul>


        <ul class="navbar-nav ms-auto" id="acc_list">

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="#" class="nav-link navbar">
                    Hoşgeldiniz, {{user.username}}{% if user.is_superuser %} (s){% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url "user_logout" %}" class="nav-link navbar">
                    Logout
                </a>
            </li>
            {% else %}
            <li class="nav-item">    
                <a href="{% url "user_login" %}" class="nav-link navbar">
                    Login
                </a>
            </li>
            <li class="nav-item">    
                <a href="{% url "user_register" %}" class="nav-link navbar">
                    Register
                </a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav>