{% extends "layout.html" %}

{% load static %}

{% block Title %}
Create Course
{% endblock Title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css'%}">
{% endblock css_files %}


{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <form action="{% url "create_course" %}" method="POST">
                {% csrf_token %}
                {{form}}
                <div class="mb-3">
                    <button class="btn btn-success" type="submit">Kayit et</button>
                </div>
            </form>
        </div>
</div>

{% endblock  %}

{% block js_files %}
<script src="{% static "courses/js/scripts.js" %}"></script>
{% endblock js_files %}

