{% extends "layout.html" %}

{% load static %}

{% block Title %}
Kurslar anasayfasi
{% endblock Title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css'%}">
{% endblock css_files %}


{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include "courses/includes/_categories.html" %}
        </div>
        <div class="col-9"> 

            <div class="mb-3" style="width:500px;">
                <form action="{% url "search" %}" class="d-flex" role="search">
                    <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn submitButton" type="submit">Search</button>
                </form>
            </div>
    

            {% if page_obj.object_list|length == 0 %}
                <div class="alert alert-warning">Sectiginiz kategoride kurs bulunamadi !</div>
            {% else %}
            {% endif %}
            {% for course in page_obj.object_list %}
                {% include "courses/includes/_courses.html" %}  
            {% endfor %}
            {% include "courses/includes/_paginator.html" %}
        
        </div>
    </div>
</div>

{% endblock  %}

{% block js_files %}
<script src="{% static "courses/js/scripts.js" %}"></script>
{% endblock js_files %}

