{% extends "layout.html" %}

{% load static %}

{% block Title %}
Kurslar anasayfasi
{% endblock Title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css'%}">
{% endblock css_files %}


{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include "courses/includes/_categories.html" %}
        </div>
        <div class="col-9"> 
            {% if courses|length == 0 %}
                <div class="alert alert-warning">Sectiginiz kategoride kurs bulunamadi !</div>
            {% else %}
            {% endif %}
            {% for course in courses %}
                {% include "courses/includes/_courses.html" %}  
            {% endfor %}
        
        </div>
    </div>
</div>

{% endblock  %}

{% block js_files %}
<script src="{% static "courses/js/scripts.js" %}"></script>
{% endblock js_files %}

