{% extends "layout.html" %}

{% load static %}

{% block Title %}
Kurs listesi
{% endblock Title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css'%}">
{% endblock css_files %}


{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-7">
            <form action="{% url "upload_image" %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="input-group">
                {{form}}
              </div>
              <button type="submit" class="btn btn-secondary">tik</button>
            </form>
        </div>
    </div>
</div>

{% endblock  %}

{% block js_files %}
<script src="{% static "courses/js/scripts.js" %}"></script>
{% endblock js_files %}

