         <div class="mb-3">
            <form action="{% url "search" %}" class="d-flex" role="search">
                <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn submitButton" type="submit">Search</button>
            </form>
        </div>
<div class="list-group">
    <a href="{% url "tum" %}" class="list-group-item list-group-item-action">Tum kurslar</a>
    {% for category in categories %}
        <a href="{% url "courses_by_category_id" category.slug %}"class="list-group-item list-group-item-action {% if category.id == selected_category_id %}
        custom-active
        {% endif %}">
            {{category.name|title}}
        </a>
    {% endfor %}
</div>


